@import '../core/variables/proportions.scss';

.column {
  width: 100%;
}

.one-col-layout {
  display: flex;
  justify-content: space-between;
  
  > .column {
    flex-basis: 100%;
  }
}

.two-col-layout {
  display: flex;
  justify-content: space-between;
  
  > .column {
    flex-basis: calc(50% - #{$gap-sm});
  }
}

.three-col-layout {
  display: flex;
  justify-content: space-between;
  
  > .column {
    flex-basis:  calc(33.33% - #{$gap-sm});
  }
}

.four-col-layout {
  display: flex;
  justify-content: space-between;
  
  > .column {
    flex-basis:  calc(25% - #{$gap-sm});
  }
}
