@import '../../core/utilities/utilities.scss';
@import '../../core/variables/variables.scss';

.btn {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  @extend .transition__ease-out--slow;
  &:hover {
    opacity: .6;
  }

  &.dark {
    color: #fff !important;
    background-color: #000;
  }

  &.light {
    color: #000 !important;
    background-color: #fff;
  }

  a, &__inner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}