// @import url('https://cdn.jsdelivr.net/gh/new-fantastic/hajime/main.scss');
// @import url('https://cdn.jsdelivr.net/gh/new-fantastic/hajime/core/utilities/typography.scss');
@import '../../hajime/core/typography/typography.scss';
@import '../../hajime/core/utilities/utilities.scss';

.btn {
  font-family: inherit;
  font-size: 1.2rem;
  @include font__weight--bold;
  padding: 1rem 2rem;
  @include transition__ease-out--slow;
  &:hover {
    @include opacity--md;
  }

  &.dark {
    color: #fff !important;
    background-color: #000;
  }

  &.light {
    color: #000 !important;
    background-color: #fff;
  }
}
