@import '../../core/utilities/utilities.scss';
@import '../../core/variables/variables.scss';

.btn {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: $font-weight-bold;
  padding: 1rem 2rem;
  @extend .transition__ease-out--slow;
  &:hover {
    opacity: $opacity-md;
  }

  &.dark {
    color: #fff !important;
    background-color: #000;
  }

  &.light {
    color: #000 !important;
    background-color: #fff;
  }
}