.desktop {
  @media all and (max-width: 980px) {
    display: none !important;
    opacity: 0 !important;
    pointer-events: none !important;
  }
}

.mobile {
  @media all and (min-width: 981px) {
    display: none !important;
    opacity: 0 !important;
    pointer-events: none !important;
  }
}
