@import '../variables/colors.scss';

.text {

  &__color {
    
    &--light {
      color: $color-light;
    }

    &--dark {
      color: $color-dark;
    }
  }

  &__align {

    &--left {
      text-align: left;
    }
  
    &_--center {
      text-align: center;
    }
  
    &--right {
      text-align: right;
    }
  }
}